body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h6 {
    color: white;
    text-align: center;
}

p {
    color: white;}

ol {
    color: white;}

li {
    color: white;}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.silly4090 {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }