head{
    background-color: black;
}

body {
    background-color: #797d82;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h6 {
    color: white;
    text-align: center;
}

p {
    color: white;}

ol {
    color: white;}

li {
    color: white;}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.silly4090 {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    background-color: coral;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 464px; /* Set the height of the container to match the image */
    position: relative; /* Set position relative for absolute positioning */
}

/* Style the title */
.centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure title appears on top of the image */
    color: white; /* Ensure title text is visible */
}

button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: center;
}

.container1 {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add some margin for spacing */
}

.container1 a {
    text-align: center;
}

.mysection {
    background-color: #7393bf;
    width: 100%;
    height: 464px;
}
