head {
    background-color: coral;
}

h1, h2, h6 {
    color: white;
    text-align: center;
}

body {
    background-color: #dde5f0;
    margin: 0; /* Reset default margin */
}

.container {
    text-align: center;
}

.silly4090 {
    max-width: 100%;
    background-color: coral;
}



.container1 {
    display: flex; /* Add this to make flex properties work */
    justify-content: center;
    align-items: center;
}

button {
    background-color: #fff; /* Background color for button */
    border: 2px solid black; /* Add border to button */
    color: black;
    padding: 10px 20px; /* Adjust padding */
    font-size: 16px;
    cursor: pointer;
}

.mysection {
    background-color: coral;
    height: 464px;
}
