body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h6 {
    color: white;
    text-align: center;
}

p {
    color: white;}

ol {
    color: white;}

li {
    color: white;}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }